.random-planet {
    padding: 1rem;
    background-color: #303030;
    border-radius: 5px;
    height: 11.5rem;
    }

.random-planet img {
    width: 14%;
    border-radius: 10px;
    margin-right: 1rem;
}

.random-planet ul {
    margin-top: 1rem;
    list-style: none;
    width: 250px;
    margin-bottom: 0;
}

.random-planet ul li{
    padding:  0.3rem;
}

.random-planet ul li span{
    margin-left: 0.5rem;
    color: #00bc8c;
}