.item-details {
    padding: 1rem;
    background-color: #303030;
    border-radius: 5px;
    width: 49%;
    height: 20rem;
}

.selectPersonText {
    font-weight: bold;
    margin: auto;
    font-size: 1.5rem;
}

.item-details h4 {
    margin-top: 1.4rem;
}

.item-details img {
    object-fit: fill;
    width: 30%;
    height: auto;
    border-radius: 10px;
    margin-right: 1rem;
}

.item-details ul {
    padding: 0;
    margin: 1rem 1rem 0 0;
    list-style: none;
}

.item-details ul li {
    padding:  0.3rem;
}

.item-details ul li span {
    margin-left: 0.5rem;
    color: #00bc8c;
}