.header {
    display: flex;
    padding: 1rem 0;
}


.header h3 a {
    color: white;
}

.header h3 a:hover {
    color: #00bc8c;
}

.header ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.header li a {
    display: block;
    padding: 0.5rem 1rem;
}

.header li a:hover {
    background-color: #444;
    border-radius: 5%;
}


.header .active {
    border-radius: 5%;
    background-color: rgba(68, 68, 68, 0.33);
}

.header a {
    text-decoration: none;
}

